body{background-color:#938673;}
.footer{background-color:#36322a;width=100%;padding:1em;}
.foot a:hover{text-decoration:none;color:#938673;}
.foot a{color:#F7E1C3;}
.foot{background-color:#36322a;color:#F7E1C3;font-family:"courier-prime", Courier, sans-serif;width:100%;max-width:1280px;margin-left:auto;margin-right:auto;}
canvas{
  background: #F7E1C3;
  display: block;
  margin: 0 auto;
}
